// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
$column: 68px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1140);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////

$desktop: new-breakpoint(min-width 1024px);
$tablet: new-breakpoint(min-width 768px max-width 1023px);
$mobile: new-breakpoint(max-width 767px);

$desktop-large: new-breakpoint(min-width 1200px);
$desktop-small: new-breakpoint(min-width 1024px max-width 1200px);

$tablet-landscape: new-breakpoint(min-width 960px max-width 1023px);
$tablet-portrait: new-breakpoint(min-width 768px max-width 959px);

$mobile-landscape: new-breakpoint(min-width 480px max-width 767px);
$mobile-portrait: new-breakpoint(max-width 479px);

$desktop-and-tablet: new-breakpoint(min-width 768px);
$tablet-and-mobile: new-breakpoint(max-width 1023px);

.container {
  @include outer-container;
}

#grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: 999;
  section {
    @include row;
    .col {
      @include span-columns(1);
      height: 100vh;
      background: gray;
    }
  }
}
